<div class="panel panel-default" ng-controller="SigninController as vm">
    <div class="panel-heading">
        <h3 class="panel-title">
            Signin
        </h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Email address
                </label>
                <input class="form-control" ng-model="vm.email" placeholder="Email" type="text">
                </input>
            </div>
            <div class="form-group">
                <label for="exampleInputName1">
                    Name
                </label>
                <input class="form-control" ng-model="vm.name" placeholder="Username" type="text">
                </input>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    Password
                </label>
                <input class="form-control" ng-model="vm.password" placeholder="Password" type="password">
                </input>
            </div>
            <button class="btn btn-primary" ng-click="vm.signin()" type="button">
                Signin
            </button>
        </form>
    </div>
</div>